[submodule "lua"]
	path = lib/lua/src
	url = git@github.com:lua/lua.git
	branch = master
[submodule "nlohmann_json"]
	path = lib/nlohmann_json
	url = git@github.com:nlohmann/json.git
	branch = master
